{% assign my_cat = page.title | split: ": " %}

<div class="grid">
   {% for post in site.categories[my_cat.last] %}
   <article role="article" class="card">
     <a href="{{ site.baseurl }}{{ post.url }}">
       <div class="meta">
          <h2> {{ post.title }} </h2>
          <p>{{ post.summary }}</p>
          <time class="date" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %-d, %Y" }} &middot; {{ project.category }}
          {% for t in post.categories %}
          #{{t}}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
          </time>
       </div>
     </a>
   </article>
   {% endfor %}
  
</div>
