/* Default light theme */
:root {
  --font-sans: "Inter", 'Helvetica', sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  --font-headings: "Lora", serif;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --headings-weight: 600;


  --bg: #fff6e3;
  --bg-secondary: #f1f2f4;
  // --headings: #1e293b;
  --headings: #1e2a5c;
  // --text: #374151;
  --text: #46433A;
  --text-secondary: #6b7280;
  --links: #4f46e5;
  --highlight: #FFECB2; // light yellow
  --code-text: #9D174D;
  --share-text: #999;
  --color-menu: #C70039;
  --border: rgba(15, 23, 42, 0.08);
  --border-subtle: rgba(15, 23, 42, 0.05);
}

/* Dark theme switch */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #fff6e3;
    --bg-secondary: #1c1d26;
    --headings: #1e2a5c;
    --links: #91A7FF;
    --highlight: #41C7C7;
    --text: #46433A;
    --text-secondary: #9CA3AF;
    --code-text: #91A7FF;
    --share-text: #C4C4C4;
    --color-menu: #f8c348;
    --border: rgba(255, 255, 255, 0.08);
    --border-subtle: rgba(255, 255, 255, 0.05);
  }
}

html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;;
  font-family: var(--font-sans);
  font-size: 1rem;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
header, main {
  margin: 0 auto;
  max-width: 50rem;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
  font-family: var(--font-headings);
  font-weight: var(--headings-weight);
  line-height: 1.25;
  font-style: italic;
}
p, strong, a, b, em, small, li, hr, table, figcaption {
    color: var(--text);
}
a,a:visited {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff; /* Set a solid background color so content doesn't bleed through */
  padding: .1rem;
}
center {
  padding-top: .8rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(8rem, auto);
  grid-gap: 1rem
}

iframe {
  width: 100%;
  height: 550px;
}

.hidden { display: none; }

.text-center {
  text-align: center;
}

@supports (display:grid) {
  .card {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.card:nth-child(1n) {
  background: #96d0c3;
}
.card:nth-child(2n) {
  background: #ef7d4d;
}
.card:nth-child(3n) {
  background: #fbcfb9;
}
.card:nth-child(4n) {
  background: #fac14e;
}
.card:nth-child(5n) {
  background: #8fb996;
}
.card:nth-child(6n) {
  background: #cbc0d3;
}

.card {
  /* display: flex; */
  min-height: 8rem;
  align-items: left;
  justify-content: left;
  position: relative;
  flex: 1 1 10rem;
  //min-height: 100%;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  /* box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03); */
  box-shadow: 0 0.2rem 0.5rem #415a77;
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  // color: inherit;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.05);
  }
  color: var(--text);
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
  text-decoration: none;
}

.card p {
  font-size: 0.9rem;
}

.card h2 {
  font-size: 1.3rem;
  margin: 0;
}

.card time {
  text-transform: uppercase;
  font-family: var(--font-sans);
}

.card .meta {
  padding: 1.5rem;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.post {
  background: white;
  margin: 2rem 3rem;
  /* padding: 2rem 3rem; */
  padding: .2rem 3rem 2rem 3rem;
  padding-bottom: 1.7rem;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.page-find {
  background: white;
  padding: 2rem 2rem;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: .05em;
      //opacity: 0.6;
    }
}

hr {
  height: 1.5px;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
  /* background-color:#e7e9ee; */
  background-color: lightgrey;
}

.tag-current {
  background-color: #ef7d4d !important;
  color: blue !important;
  /* color: #ef7d4d !important; */
}

.current {
  text-decoration: underline;
//  text-decoration: underline wavy #495057 0.10rem;
  text-underline-offset: 0.2rem;
  font-weight: 700;
//  color: #f8c348;
}

code, .highlight {
    background: #edf2f7;
    overflow: auto;
}
code {
	word-break: break-all;
}

code {
	padding: 0.1rem 0.3rem;
}

pre {
  padding: 1em;
}

footer {
  margin: 2rem 0;
  text-align: center;
  small a {
    text-decoration: none;
  }
}

/* responsive adjustments */
@media only screen and (min-width:700px) and (max-width:995px)
{
  * {
    font-size: 1em;
  }
  iframe {
    height: 350px;
  }
}
@media only screen and (min-width:400px) and (max-width:699px)
{
  * {
    font-size: 1em;
  }
  iframe {
    height: 250px;
  }
}
@media only screen and (min-width:100px) and (max-width:399px)
{
  * {
    font-size: .9em;
  }
  iframe {
    height: 150px;
  }
}
.date {
  opacity: 0.6;
  font-size: 75%;
  letter-spacing: .05em;
}
